#
# Copyright IBM Corporation, 2013.  All rights reserved.
#
# This program and the accompanying materials are made available under the
# terms of the Eclipse Public License v1.0 which accompanies this distribution,
# and is available at http://www.eclipse.org/legal/epl-v10.html
#
/.project
*.o
*~
build
dove-controller
openvswitch
openvswitch-2.0.0
openvswitch.tar.gz
curl-*
libcurl*
third-party/bin
third-party/lib
third-party/share
third-party/include
switch.uuid
/.git
